<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../Styles/styles.css">
    </head>
    <header>
            <h1 class="titulo-blog">Titulo blog</h1>
        </div>
    </header>
    <section>
        
    </section>
    <footer>
        <p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
    </footer>
    <body>
    </body>
</html>