<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crear Comentario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../Styles/crear_entrada.css">
    </head>



    <body>
        <section class="form-registro">
            <h3>Comentarios</h3>
            
            <div>
                <form action="" method="POST">
                    <input class= "boton" type="submit" value="Comentar">
                    <input class= "boton" type="submit" value="Cancelar">

                    <br>
                    <textarea class= "cuerpo"  name="cuerpo_entrada" id="" cols="103" rows="20" spellcheck="true" placeholder="Escribe tu comentario"></textarea>

                </form>
            </div>
        </section>

    </body>
</html>