<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../Styles/diseñador.css">
    </head>
    <header>
        <div class="topnav">
            <a class="active" href="crear_entrada.html">Nueva</a>
            <a href="actualizar_entrada.html">Actualizar</a>
            <a href="#contact">Eliminar</a>
            <a href="iniciosesion.html">Cerrar Sesión</a>
            <div class="contenedor">
                <form>
                    <input  type="text" placeholder="Publicación..." name="publicacion">
                    <button class="buscarpublicacion"  type="submit">Buscar</button>
                </form>
            </div>
            
            
        </div>
        <!-- <section class="busqueda">
            <div>
                <form>
                    <input  class="busqueda" type="text" name="Buscar" id="Buscar" value="Publicación..." placeholder="Buscar Publicación"  onfocus="if (this.value == 'Buscar publicación...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Buscar publicación...';}" />
                    <input class="botonbuscar" type="button" value="Buscar" />
                    <!-- <input class="boton" type="submit" value="Buscar"> -->
                </form>
            </div>
        </section>
                
        <div>
            <br>
            <br>
            <h1 class="titulo-page" > Publicaciones </h1>
        </div>
    </header>

    <body class="body">

        <section>
            <div class="blogs">
                <div>
                    <input type="checkbox" name="publicacion"> <h3>Conoce más sobre tus mascotas</h3>
                </div>
                <div>
                    <h3>Conoce más sobre el Oceano</h3>
                 </div>
            </div>
        </section>
    </body>
    <footer>
        <p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
    </footer>    
</html>