<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../Styles/diseñador.css">
    </head>
    <header>
        <section>
            <div class="nav-bar">
                <nav>
                    <ul>
                        <!-- <li><a href="ayuda.html">Ayuda</a></li> -->
                        <li><a href="iniciosesion.html">Cerrar Sesion</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="topnav">
            <a class="active" href="crear_entrada.html">Nueva</a>
            <a href="#about">Actualizar</a>
            <a href="#contact">Eliminar</a>
            <input type="text" placeholder="Search..">
          </div>
        <!-- <section class="busqueda">
            <div>
                <form>
                    <input  class="busqueda" type="text" name="Buscar" id="Buscar" value="Publicación..." placeholder="Buscar Publicación"  onfocus="if (this.value == 'Buscar publicación...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Buscar publicación...';}" />
                    <input class="botonbuscar" type="button" value="Buscar" />
                    <!-- <input class="boton" type="submit" value="Buscar"> -->
                </form>
            </div>
        </section> -->
                
        <div>
            <br>
            <br>
            <h1 class="titulo-page" > Publicaciones </h1>
        </div>
    </header>

    <body class="body">

        <section>
            <div class="blogs">
                <div>
                    <h3>Blog conoce más sobre tus mascotas</h3>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu dolor quis nibh rhoncus euismod quis a lectus. Donec sodales erat ligula, eu posuere dui iaculis egestas. Sed id tortor nec odio porttitor cursus. Maecenas scelerisque elit eu metus dignissim, in aliquam tortor pulvinar. Curabitur lacinia volutpat tortor at interdum. Praesent tellus libero, ultricies ut porttitor id, vehicula at nibh. Cras dignissim sed magna nec gravida. Nullam ac nisl nisi. Aliquam vel tortor aliquam, consequat tortor nec, cursus ipsum. Morbi elementum erat eleifend feugiat suscipit. Suspendisse aliquam dui ipsum, id pharetra lacus condimentum eget. Morbi gravida tincidunt tortor, quis efficitur sem. Maecenas euismod leo a libero vulputate pulvinar. Integer ut semper tellus. Nulla aliquet metus ut ante posuere dapibus.</p>
                    </div>
                </div>
                <div>
                    <h3>Blog Conoce más sobre el Oceano</h3>
                    <div class="info">
                        <p>Donec quis eros vestibulum massa cursus lobortis id eget arcu. Fusce pellentesque placerat consectetur. Suspendisse ipsum justo, efficitur a tristique ut, tincidunt ac massa. Praesent ac tempus urna, a accumsan quam. Sed finibus pretium blandit. Phasellus pellentesque erat a neque egestas mollis. Pellentesque ut commodo tortor, vel ultrices neque. Integer imperdiet sollicitudin dolor ac aliquet. Ut non leo risus. Phasellus ut euismod leo. Phasellus neque mauris, dignissim vel urna ornare, posuere sollicitudin eros.</p>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYeIUFOJjs0Rn59fo5fht5bayqhvt1Q6xhQw&usqp=CAU" alt="blog oceano">
                    </div>
                </div>
            </div>
            <aside>
                <div class="buscador">
                    <input type="text" name="Buscar" id="Buscar" placeholder="Buscar Blog">
                    <input type="submit" value="Buscar">
                </div>
                <div class="navigation">
                    <nav>
                        <ul>
                            <li><a href="crear_entrada.html">Crear Blog</a></li>
                            <li><a href="actualizar_entrada.html">Actualizar Blog</a></li>
                            <li><a href="#">Eliminar Blog</a></li>
                            <li><a href="blog.html">Crear comentarios</a></li>
                        </ul>
                    </nav>
                </div>
            </aside>
        </section>
    </body>
    <footer>
        <p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
    </footer>    
</html>